html {
    background: #eee;
}
body {
    max-width: 21cm !important;
    width: 100%;
    padding: 1.2cm !important;
    margin-top: 50px !important;
    background: #fff;
    box-shadow: 0 0 10px #ccc;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    font-size: 24px;
    font-weight: bold;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

h2 {
    font-size: 19px;
    border-bottom: 2px dashed black;
}

h3 {
    font-size: 15px;
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

p {
    font-size: 15px;
    margin: 5px 0px;
}

.contact {
    font-size: 0.9em;
    padding-top: 0px !important; 
    padding-bottom: 0px !important;
}

.icon {
    background: transparent;
    margin-right: 3px;
}

.w3-button {
    padding: 4px 8px !important;
}

.date {
    color:gray;
    float: right;
    font-size: 13px;
}

.education {
    font-size: 14px;
    font-style: italic;
}

ul {
    padding:  0 0 0 16px;
    margin: 5px 0px;
}

.skill {
    font-size: 12px;
    padding: 1px 6px !important;
    margin-right: 5px;
}

@media print{
    @page {
        margin: 0.5cm;
      }

    html {
        background: white;
    }

    body {
        margin: 0px !important;
        padding: 0px !important;
        box-shadow: none;
        font-size: 14px;
    }

    h1 {
        font-size: 21px;
    }
    h2, h3, p {
        font-size: 14px;
    }

    #download {
      display: none;
    }
    .date {
        font-size: 13px;
        color: #333 !important;
    }
}